# Project 4, Git Practice, APS1070 Winter 2022
#### **Linear Regression -  14 points**
**Deadline: April 1st, 23:00**

**Academic Integrity**

This project is individual - it is to be completed on your own. If you have questions, please post your query in the APS1070 Piazza Q&A forums (the answer might be useful to others!).

Do not share your code with others, or post your work online. Do not submit code that you have not written yourself. Students suspected of plagiarism on a project, midterm or exam will be referred to the department for formal discipline for breaches of the Student Code of Conduct.

Please fill out the following:


*   Your **name**: Steven Xie Zuoqi
*   Your **student number**: 998979627

## Gradient Descent with Additional Features and Regularization [2 marks + 1 mark Git submission]

We'll apply linear regresssion to a toy dataset (`LR_data.csv`), with 10 features `x1`-`x10` and a "measurement" `y`. We'll take a few shortcuts by using built-in sklearn functions.

1. Data Preparation **[0.5]**
  * Print the dataset, and create Numpy arrays with inputs (X) and outputs (y). 
  * Split the dataset into training and validation sets (80% training, 20% validation). When splitting, set `random_state=1`.

2. Linear Regression **[0.5]**
  * Standardize the data using StandardScaler from sklearn.
  * Use the `sklearn.linear_model.LinearRegression` function [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) to perform linear regression.
  * Print the RMSE for training and validation data.

3. Linear Regression with Additional Features **[0.5]**
  * Let's add more features to our dataset (degree 8) using `sklearn.preprocessing.PolynomialFeatures` [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html). You'll want to create the additional features first, then perform standardization (start from non-standardized data).
  * Again, use `sklearn.linear_model.LinearRegression` to perform linear regression.
  * Print the RMSE for training and validation data.

4. Linear Regression with Additional Features and Regularization **[0.5]**
  * Let's switch models, and instead use the `sklearn.linear_model.Ridge` function [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge) to perform linear regression with regularization. Apply the model to the processed data (additional, standardized) you used in 3 above. Use a `FOR` loop to run `sklearn.linear_model.Ridge` with different `alpha` values. Specifically, sweep `alpha` from 1E-2 to 1E10 (each step is an order of magnitude jump).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/aps1070-2019/datasets/master/LR_data.csv" , skipinitialspace=True)

In [11]:
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1.454481,4.940543,7.116015,3.805131,4.105432,1.832290,5.211909,5.088293,3.841250,6.121133,6.575066e+06
1,4.907182,1.653654,7.339445,9.065282,7.169233,2.354136,2.893005,8.720131,8.646473,3.806860,8.419881e+06
2,1.842804,1.183878,4.203206,6.815847,6.655899,8.295816,3.556779,5.794679,3.260723,5.463808,9.745537e+04
3,2.393457,0.094127,3.208929,0.497443,4.318127,4.999247,9.470238,3.061990,7.312995,5.475240,1.129200e+04
4,5.093724,3.905293,4.858562,4.465484,0.947091,9.410307,8.137329,9.043838,9.128607,0.790795,3.105448e+05
...,...,...,...,...,...,...,...,...,...,...,...
195,2.936450,2.094812,9.493814,3.411240,4.350940,0.386062,1.303290,2.699563,7.622569,3.037162,6.599726e+07
196,4.915597,1.953974,7.312552,9.331203,1.329366,8.286760,5.233018,7.476923,7.043560,5.745565,8.176250e+06
197,6.772096,6.406489,4.638352,7.042340,0.912338,7.568296,1.194928,2.592840,9.386478,4.147710,2.144147e+05
198,3.940339,4.330498,6.693371,9.169265,0.858846,0.601942,2.635455,2.037859,7.883720,8.525164,4.028735e+06
199,8.636129,1.272939,4.339175,4.417427,5.697190,8.944253,7.952686,4.917967,9.543772,5.673870,1.257168e+05

In [21]:
# 1
X = df.loc[:,df.columns !='y']
y = df['y']
X=X.to_numpy()
y=y.to_numpy()
X_train, X_val, y_train, y_val = train_test_split(X,y, test_size = 0.2, random_state = 1)
print("shapes",X_train.shape,X_val.shape,y_train.shape,y_val.shape)

shapes (160, 10) (40, 10) (160,) (40,)

In [13]:
def rmse(yPred, y):
    return np.sqrt(mean_squared_error(yPred, y))

In [22]:
# 2
scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_val_std = scaler.fit_transform(X_val)
reg = LinearRegression().fit(X_train_std, y_train)
yptrain = reg.predict(X_train_std)
ypval = reg.predict(X_val_std)
rmset = rmse(yptrain,y_train)
rmsev = rmse(ypval,y_val)
print("rmse train = ",rmset,"rmse val=" ,rmsev)

rmse train =  16296980.655667374 rmse val= 14701217.930816367

In [23]:
# 3
poly = PolynomialFeatures(8)
X8t = poly.fit_transform(X_train)
X8V = poly.fit_transform(X_val)
X8t_std = scaler.fit_transform(X8t)
X8V_std = scaler.fit_transform(X8V)
reg8 = LinearRegression().fit(X8t_std, y_train)
yptrain8 = reg8.predict(X8t_std)
ypval8 = reg8.predict(X8V_std)
rmset8 = rmse(yptrain8,y_train)
rmsev8 = rmse(ypval8,y_val)
print("rmse train = ",rmset8,"rmse val=" ,rmsev8)

rmse train =  1.1398516694410618e-07 rmse val= 11864247.270425009

In [16]:
# 4
lrl = []
rmsetl = []
rmsevl = []
for i in range(13):
  lr = 0.01 * 10**i
  clf = Ridge(alpha=lr)
  clf.fit(X8t_std, y_train)
  yptrain8r = clf.predict(X8t_std)
  ypval8r = clf.predict(X8V_std)
  rmset8r = rmse(yptrain8r,y_train)
  rmsev8r = rmse(ypval8r,y_val)
  lrl.append(lr)
  rmsetl.append(rmset8r)
  rmsevl.append(rmsev8r)

In [17]:
summary = np.array((rmsetl,rmsevl,lrl))
table = pd.DataFrame(summary)
table.index = ['RMSEtrain','RMSEValication','Alpha']
table

,0,1,2,3,4,5,6,7,8,9,10,11,12
RMSEtrain,3.210124e+02,3.199350e+03,3.098852e+04,2.480804e+05,1.196924e+06,3.609078e+06,7.712389e+06,1.460050e+07,2.003603e+07,2.291082e+07,2.343572e+07,2.349401e+07,2.349990e+07
RMSEValication,1.186430e+07,1.186581e+07,1.188132e+07,1.204182e+07,1.250316e+07,1.081951e+07,7.461818e+06,9.961215e+06,1.566700e+07,1.861756e+07,1.916853e+07,1.923015e+07,1.923639e+07
Alpha,1.000000e-02,1.000000e-01,1.000000e+00,1.000000e+01,1.000000e+02,1.000000e+03,1.000000e+04,1.000000e+05,1.000000e+06,1.000000e+07,1.000000e+08,1.000000e+09,1.000000e+10